
<div class="container" ng-controller="View1Ctrl">
<br><br><br><br><br>
        <div class="row">
        <div col-md-6>
        <p style=" font-weight: bold;color:white;font-size:45px;">START EXPLORING</p>
        </div></div> <br><br>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group" style="padding: 10px;">
                        <label style="font-size: 20px;color:white;">E-MAIL ID</label>
                        <input type="email" class="form-control" placeholder="email" ng-model="formModel.emailInput" required="" />
                    </div>
                    <div class="form-group" style="padding: 10px;">
                        <label style="font-size: 20px;color:white;">PASSWORD</label>
                        <input type="password" class="form-control" placeholder="password" ng-model="formModel.passwordInput" />
                    </div>

                    <button class="btn btn-primary center-block" ng-click="submit()">Submit</button><br><br>
                    </form>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-center" ng-if="flag"><p style="font-size: 15px; color:red;">Please enter valid "email or password"</p></div>
                      </div>
                    
</div>


